# Intermediate SQL Queries - Planet Express Database

## Introduction
Welcome to the **Intermediate SQL Queries** class! In this session, we will explore various SQL techniques such as filtering, grouping, sorting, aggregation, and especially **joins**. You will apply these concepts using the **Planet Express** database, inspired by the Futurama universe.

Please open [Sandbox SQL](https://sandboxsql.com/) and create a new database using the Planet Express template.

### What is Planet Express?
Planet Express is the intergalactic delivery company from Futurama. It employs a quirky crew of delivery personnel, including Fry, Leela, and Bender, who transport packages across the universe. The database simulates this companyâ€™s operations, tracking shipments, employees, packages, and deliveries to different planets.

## Let's Add Some Records
```sql
INSERT INTO Shipment (ShipmentID, Date, Manager, Planet) 
VALUES (6, '3004/05/11', 1, 6);

INSERT INTO Shipment (ShipmentID, Date, Manager, Planet) 
VALUES (7, '3004/05/13', 1, 7);

INSERT INTO Shipment (ShipmentID, Date, Manager, Planet) 
VALUES (8, '3004/05/14', 2, 8);

INSERT INTO Shipment (ShipmentID, Date, Manager, Planet) 
VALUES (9, '3004/05/15', 2, 9);

INSERT INTO Shipment (ShipmentID, Date, Manager, Planet) 
VALUES (10, '3004/05/16', 7, 3);

INSERT INTO Shipment (ShipmentID, Date, Manager, Planet) 
VALUES (11, '3004/05/16', 7, 3);

INSERT INTO Shipment (ShipmentID, Date, Manager, Planet) 
VALUES (12, '3004/05/16', 7, 3);

INSERT INTO Shipment (ShipmentID, Date, Manager, Planet) 
VALUES (13, '3004/05/16', 7, 3);

INSERT INTO Shipment (ShipmentID, Date, Manager, Planet) 
VALUES (14, '3004/05/16', 7, 3);
```

```sql
INSERT INTO Package (Shipment, PackageNumber, Contents, Weight, Sender, Recipient) 
VALUES (6, 1, 'Undeclared', 8, 3, 5);

INSERT INTO Package (Shipment, PackageNumber, Contents, Weight, Sender, Recipient) 
VALUES (7, 1, 'A crate of Slurm', 12, 4, 6);

INSERT INTO Package (Shipment, PackageNumber, Contents, Weight, Sender, Recipient) 
VALUES (8, 1, 'Undeclared', 20, 5, 7);

INSERT INTO Package (Shipment, PackageNumber, Contents, Weight, Sender, Recipient) 
VALUES (9, 1, 'A dozen Popplers', 6, 6, 8);

INSERT INTO Package (Shipment, PackageNumber, Contents, Weight, Sender, Recipient) 
VALUES (10, 1, 'Undeclared', 30, 7, 12);

INSERT INTO Package (Shipment, PackageNumber, Contents, Weight, Sender, Recipient) 
VALUES (11, 1, 'Undeclared', 30, 7, 11);

INSERT INTO Package (Shipment, PackageNumber, Contents, Weight, Sender, Recipient) 
VALUES (12, 1, 'Undeclared', 30, 7, 15);

INSERT INTO Package (Shipment, PackageNumber, Contents, Weight, Sender, Recipient) 
VALUES (13, 1, 'Undeclared', 30, 7, 8);

INSERT INTO Package (Shipment, PackageNumber, Contents, Weight, Sender, Recipient) 
VALUES (14, 1, 'Undeclared', 30, 7, 7);
```

## SQL Concepts and Queries

### 1. Filtering Data (`WHERE` Clause)
#### Example:
Retrieve all shipments sent to **Mars**  (Look for Mars PlanetID):
```sql
SELECT * FROM Shipment
WHERE Planet = {Mars PlanetID};
```

### 2. Sorting Data (`ORDER BY`)
#### Example:
List all packages, sorted by weight in descending order:
```sql
SELECT * FROM Package
ORDER BY Weight DESC;
```

### 3. Aggregation (`GROUP BY`, `HAVING`)
#### Example:
Find the number of shipments made to each planet:
```sql
SELECT Planet, COUNT(*) AS ShipmentCount
FROM Shipment
GROUP BY Planet;

```
Example with `HAVING`:
Find planets that have received more than 10 shipments:

```sql
SELECT Planet, COUNT(*) AS ShipmentCount
FROM Shipment
GROUP BY Planet
HAVING COUNT(*) > 5;
```

### 4. Joins

Here are the different types of the JOINs in SQL:

- `INNER JOIN`: Retrieves records with matching values in both tables.
- `LEFT (OUTER) JOIN`: Retrieves all records from the left table and the matched records from the right table.
- `RIGHT (OUTER) JOIN`: Retrieves all records from the right table and the matched records from the left table.
- `FULL (OUTER) JOIN`: Retrieves all records with a match in either the left or right table.

![join_img](./img/img_joins.png)

Reference: https://www.w3schools.com/sql/sql_join.asp

#### Example: `INNER JOIN`
Retrieve package details along with the recipient's name:
```sql
SELECT p.PackageNumber, p.Contents, p.Weight, c.Name AS RecipientName
FROM Package p
INNER JOIN Client c ON p.Recipient = c.AccountNumber;
```

#### Example: `LEFT OUTER JOIN`
Retrieve all packages, including those that do not have a matching recipient in the Client table:
```sql
SELECT p.PackageNumber, p.Contents, p.Weight, c.Name AS RecipientName
FROM Package p
LEFT JOIN Client c ON p.Recipient = c.AccountNumber;
```

#### Example: `RIGHT OUTER JOIN`
Retrieve all clients, including those who have never received a package:
```sql
SELECT p.PackageNumber, p.Contents, p.Weight, c.Name AS RecipientName
FROM Package p
RIGHT JOIN Client c ON p.Recipient = c.AccountNumber;
```

#### Example: `FULL OUTER JOIN`
Retrieve all packages and clients, including those without a match on either side:
```sql
SELECT p.PackageNumber, p.Contents, p.Weight, c.Name AS RecipientName
FROM Package p
FULL OUTER JOIN Client c ON p.Recipient = c.AccountNumber;
```

### 5. Using `WITH` for Subqueries
#### Example:
Find the heaviest package per shipment:
```sql
WITH MaxWeight AS (
    SELECT Shipment, MAX(Weight) AS MaxPackageWeight
    FROM Package
    GROUP BY Shipment
)
SELECT p.Shipment, p.PackageNumber, p.Weight
FROM Package p
JOIN MaxWeight mw ON p.Shipment = mw.Shipment AND p.Weight = mw.MaxPackageWeight;
```


## Exercises
Complete the following queries in **Sandbox SQL**:

1. **Find all employees with clearance level 3 or higher on any planet.**
2. **List all shipments that have more than 1 package.**
3. **Retrieve the total weight of packages sorted from heaviest to lightest.**
4. **Find the planet that received the most shipments.**
5. **List all clients who have sent or received packages, along with the number of packages associated with them.**